.logo {
  &_login {
    margin-bottom: 16px;
  }
  &_chatHeader {
    width: 86px;
    height: 33px;
  }
}

@media screen and (max-width: 540px) {
  .logo {
    &_login,
    &_signup {
      width: 83.76px;
      height: 32px;
    }
  }
}
