.Login {
  display: flex;
  &__content {
    margin: 256px 121px 0 121px;
    width: 474px;
    &__header {
      margin-bottom: 48px;

      &__title {
        margin: 0;
        margin-bottom: 24px;
        ._color__blue {
          color: #5e93e7;
        }
        ._color__light-blue {
          color: #b3cdf8;
        }
      }
      &__description {
        margin: 0;
      }
    }
  }
  &__backgraund {
    background: #eff5ff no-repeat;
    background-image: url(./loginBackgraund.svg);
    background-size: cover;
    width: calc(100% - 716px);
    height: 100vh;
  }
}
