.login {
  display: flex;
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 500px;
    box-sizing: border-box;
  }
  &__header {
    margin-bottom: 48px;

    &-title {
      margin: 0;
      margin-bottom: 24px;
      font-weight: 800;
      font-size: 42px;
      line-height: 51px;
      ._color-blue {
        color: #5e93e7;
        font-weight: 800;
        font-size: 42px;
        line-height: 51px;
      }
      ._color-light-blue {
        color: #b3cdf8;
        font-weight: 800;
        font-size: 42px;
        line-height: 51px;
      }
    }
    &-description {
      margin: 0;
    }
  }

  &__right {
    background: #eff5ff no-repeat;
    background-image: url(../../assets/loginBackgraund.svg);
    background-size: cover;
    width: 50%;
    height: 100vh;
  }
}

@media screen and (max-width: 991px) {
  .login {
    flex-direction: column-reverse;
    position: relative;
    &__left {
      height: 52vh;
      width: 100%;
      min-width: 375px;
      margin: 0;

      &__content {
        height: 100%;
        width: 458px;
        margin: 0 14px;
      }
    }

    &__header {
      position: absolute;
      top: calc(
        48% - (172px + 24px)
      ); // (top__block% - (height__header + margin__bottom)
    }

    &__right {
      height: 48vh;
      width: 100%;
      border-radius: 0px 0px 16px 16px;
    }
  }
}

@media screen and (max-width: 540px) {
  .login {
    flex-direction: column-reverse;
    position: relative;

    &__left {
      height: 52vh;
      width: 100%;
      min-width: 375px;
      margin: 0;

      &-content {
        height: 100%;
        width: 348px;
        margin: 0 14px;
      }
    }

    &__header {
      position: absolute;
      top: calc(
        48% - (130px + 24px)
      ); // (top__block% - (height__header + margin__bottom)

      &-title {
        font-size: 27px;
        line-height: 33px;
        ._color-blue {
          font-size: 27px;
          line-height: 33px;
        }
        ._color-light-blue {
          font-size: 27px;
          line-height: 33px;
        }
      }

      &-description {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__right {
      height: 48vh;
      width: 100%;
      border-radius: 0px 0px 16px 16px;
    }
  }
}
