.FormLogin {
  margin: 256px 121px 315px 121px;
  max-width: 474px;

  &__header {
    margin-bottom: 48px;

    & > * {
      margin: 0;
    }

    &__logo {
      margin-bottom: 16px;
    }
    &__title {
      margin-bottom: 24px;
      ._color__blue {
        color: #5e93e7;
      }
      ._color__light__blue {
        color: #b3cdf8;
      }
    }
  }
}
