.chat-list-contact {
  width: 362px;
  height: 100%;
  border-right: 1px solid #88abe3;
  &__no-contact {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 80px;
    &__img {
      border-radius: 50%;
      margin-bottom: 24px;
    }
    &__text {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
    }
  }
}
