.input-msg {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 80px;
  background: #ffffff;
  box-sizing: border-box;
  &_with-file {
    height: 117px;
  }
  &__clip-icon {
    margin: 0 32px 0 25px;
    cursor: pointer;
  }
  &__clip-input-file {
    display: none;
  }
  &__send-icon {
    margin-right: 25px;
    cursor: pointer;
  }
  &__input {
    display: block;
    width: 100%;
    &_with-file > div:first-child {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 550px) {
  .input-msg {
    height: 48px;
    &__clip-icon {
      width: 24px;
      height: 24px;
      margin: 0 20px 0 18px;
    }
    &__send-icon {
      width: 16px;
      height: 16px;
      margin-right: 13px;
    }
  }
}
