.chat-contact-item {
  height: 78px;
  box-sizing: border-box;
  padding: 16px 0;
  padding-left: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &__description {
    margin-left: 12px;
  }
  &__name {
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 4px;
    color: #333333;
  }
  &__lastMsg {
    font-size: 14px;
    line-height: 17px;
    color: #949494;
    margin: 0;
    &_you {
      font-size: 14px;
      line-height: 17px;
      color: #5e93e7;
    }
  }
}

._select {
  .chat-contact-item {
    background: #5c98f1;
    &__name {
      color: #ffffff;
    }
    &__lastMsg {
      color: #ffffff;
      &_you {
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .chat-contact-item {
    height: 72px;
    padding: 12px 0;
    padding-left: 14px;
    &__name {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
    &__lastMsg {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      &_you {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
}
