$botton-colors: (
  "regular": #5c98f1,
  "hover": #4583de,
  "press": #2c6ac7,
  "inactiv": #d1d1d1,
  "text": #ffffff,
);

@function botton-color($key: "regular") {
  @return map-get($botton-colors, $key);
}

.button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: inherit;
  cursor: pointer;

  &_submit-auth {
    width: 100%;
    height: 56px;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    margin-right: 12px;

    background: botton-color("regular");
    border-radius: 8px;
    color: botton-color("text");
    &:hover {
      background: botton-color("hover");
    }
    &:active {
      background: botton-color("press");
    }
    &:disabled {
      background: botton-color("inactiv");
    }
  }
  &_nav-auth {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    height: 56px;
    width: 100%;

    color: #5c98f1;
    border: 1px solid #5c98f1;
    box-sizing: border-box;
    border-radius: 8px;
  }
  &_reset-captcha {
    height: 18px;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translate(0, -50%);
  }
  &_arrow-chat-header-mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .button {
    &_submit-auth {
      margin-bottom: 6px;
      width: 100%;
    }
    &_nav-auth {
      margin-bottom: 14px;
      width: 100%;
    }
    &_reset-captcha {
      right: 12px;
    }
  }
}

@media screen and (max-width: 900px) {
  .button {
    &_arrow-chat-header-mobile {
      display: block;
    }
  }
}
