.chat-message {
  width: calc(100% - 363px);
  height: 100%;
  position: relative;
  background: #eff5ff no-repeat;
  background-image: url(../../../assets/chatMessageBackgraund.svg);
  background-size: cover;

  &__messages {
    width: 100%;
    height: calc(100% - 96px - 80px);
    margin-top: 96px;
    margin-bottom: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: auto;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      background-color: #e1ecfe;
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 12px;
      background-color: #c5daff;
    }

    &:-webkit-scrollbar-track {
      border-radius: 12px;
      background-color: #e1ecfe;
    }
  }

  &__dialogue-no-selected {
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #5e93e7;
    box-sizing: border-box;
    border-radius: 32px;

    position: absolute;
    top: calc(50% - 80px);
    left: 50%;
    transform: translate(-50%, -50%);
    &-text {
      margin: 19px 46px;
    }
  }
}

@media screen and (max-width: 900px) {
  .chat-message {
    width: 100vw;
    height: 100vh;
    margin-top: -80px;
  }
}

@media screen and (max-width: 550px) {
  .chat-message {
    margin-top: -64px;
    &__messages {
      height: calc(100% - 72px - 48px);
      margin-top: 72px;
      margin-bottom: 48px;
    }
  }
}
